html, body {
  height: 100%;
  margin: 0;
}

body {
	padding: 0px 50px 0px 25px;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
	padding: 0px 0px 10px 0px;
}

footer {
  text-align: center;
  padding: 1em;
}

.header-separator {
	margin-top: 15px;
}

pre, code {
	background: #eee;
}

pre {
	padding: 15px;
	overflow-x: auto;
}
